<div class="wwn border border-wwn-border px-2 py-1 my-1 bg-wwn-bg-elevated text-wwn-text">
  <h3 class="text-sm m-0 mb-1" title="">{{ name }}</h3>
  <h4 class="text-xs m-0 mb-1">{{{ attackDesc }}} </h4>

  <span class="font-semibold">{{localize 'WWN.faction.att-roll'}}:</span>
  <span title="">{{{ hitRoll }}}</span>
  {{#if attackSpecial}}
   <i>{{attackSpecial}}</i> <br>
  {{/if}}

  <span class="font-semibold">{{localize 'WWN.faction.def-roll'}}:</span>
  <span title="">{{{ defRoll }}}</span>
  {{#if defenseSpecial}}
   <i>{{defenseSpecial}}</i> <br>
  {{/if}}

  <span>{{{ attackDesc }}} </span>

  {{#if attackDamage}}
  <span class="font-semibold">{{localize 'WWN.faction.att-damage'}}:</span>
  <span title="">{{{ attackDamage }}}</span>
  <span class="text-wwn-text-muted text-xs"> (If Base of Infl damage to FactionHP also) </span>
  {{/if}}

  {{#if defDamage}}
  <span class="font-semibold">{{localize 'WWN.faction.def-damage'}}:</span>
  <span title="">{{{ defDamage }}}</span>
  {{/if}}


  {{#if attackingAssetsWithLocationNotes}}
  <b class="block mt-1">{{localize 'WWN.faction.locationRollTitleAttack'}}</b>:<br>
    {{#each attackingAssetsWithLocationNotes as |faitems|}}
    <i>{{faitems.name}}</i> : {{faitems.system.locationRoll}}<br>
    {{/each}}
  {{/if}}

  {{#if attackedAssetsWithLocationNotes}}
  <b class="block mt-1">{{localize 'WWN.faction.locationRollTitleCounter'}}</b>:<br>
    {{#each attackedAssetsWithLocationNotes as |faitems|}}
    <i>{{faitems.name}}</i> : {{faitems.system.locationRoll}}<br>
    {{/each}}
  {{/if}}
</div>
