<p class="wwn-chat-meta">
  {{localize "WWN.Roll.HitDiceResult"}}: <b>{{total}}</b>
  <span>({{localize "WWN.Roll.CurrentMax"}}: {{currentMax}})</span>
</p>
<div class="wwn-chat-actions">
  <button type="button" data-action="applyHitDice">
    <i class="fa-solid fa-heart-pulse"></i> {{localize "WWN.Roll.ApplyToMaxHp"}}
  </button>
</div>
<p class="wwn-chat-meta">{{localize "WWN.Roll.ApplyToMaxHpHint"}}</p>
