<section class="wwn chat-message">
    <div class="wwn chat-block border border-wwn-border px-2 py-1 my-1 bg-wwn-bg-elevated text-wwn-text">
        <div class="flex flex-row chat-header items-center gap-1 mb-2">
            <div class="chat-title flex-1"><h2 class="text-sm m-0">{{title}}</h2></div>
            <div class="chat-img w-9 h-9 shrink-0 bg-cover bg-center rounded" style="background-image:url('{{data.actor.img}}')"></div>
        </div>
        <div class="flex flex-row gap-2">
            <ol class="flex-[2] list-none p-0 m-0">
                {{#each scores as |score id|}}
                <li class="flex flex-row">
                    <div class="flex-1 text-right">
                        {{lookup ../config.scores id}}
                    </div>
                    <div class="flex-1 text-center">
                        {{score}}
                    </div>
                </li>
                {{/each}}
            </ol>
            <div class="my-2 ml-2">
                <div>Sum: {{stats.sum}}</div>
                <div>Avg: {{stats.avg}}</div>
                <div>σ: {{stats.std}}</div>
                <hr class="my-1 border-wwn-border">
                <div>Silver: {{silver}}</div>
            </div>
        </div>
    </div>
</section>
