{{!-- Currency denomination attributes. --}}
<section class="tab {{tab.cssClass}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  <div class="wwn-attributes-body">
    <div class="wwn-form-panel">
      <div class="wwn-section-header">{{localize "WWN.category.attributes"}}</div>
      <div class="wwn-form-panel-fields">
        <div class="form-group">
          <label title="{{localize 'WWN.Currency.CarriedHint'}}">{{localize "WWN.Currency.Carried"}}</label>
          <div class="form-fields">
            <input type="number" name="system.carried" value="{{system.carried}}" min="0" data-dtype="Number" />
          </div>
        </div>
        <div class="form-group">
          <label title="{{localize 'WWN.Currency.BankedHint'}}">{{localize "WWN.Currency.Banked"}}</label>
          <div class="form-fields">
            <input type="number" name="system.banked" value="{{system.banked}}" min="0" data-dtype="Number" />
          </div>
        </div>
        <div class="form-group">
          <label title="{{localize 'WWN.Currency.MultiplierHint'}}">{{localize "WWN.Currency.Multiplier"}}</label>
          <div class="form-fields">
            <input type="number" name="system.multiplier" value="{{system.multiplier}}" min="0" step="any"
              data-dtype="Number" />
          </div>
        </div>
        <div class="form-group">
          <label title="{{localize 'WWN.Currency.PerSlotHint'}}">{{localize "WWN.Currency.PerSlot"}}</label>
          <div class="form-fields">
            <input type="number" name="system.perSlot" value="{{system.perSlot}}" min="0" data-dtype="Number" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
