{{!-- Starship weapon attributes. --}}
<section class="tab {{tab.cssClass}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  <div class="wwn-attributes-body">
    <div class="wwn-attributes-grid">
      <div class="wwn-form-panel">
        <div class="wwn-section-header">{{localize "WWN.Starship.Weapon"}}</div>
        <div class="wwn-form-panel-fields">
          <div class="form-group">
            <label>{{localize "WWN.Starship.Cost"}}</label>
            <div class="form-fields">
              <input type="number" name="system.cost" value="{{system.cost}}" min="0" step="1" data-dtype="Number" />
            </div>
          </div>
          <div class="form-group">
            <label>{{localize "WWN.Starship.SpecialCost"}}</label>
            <div class="form-fields">
              <input type="checkbox" name="system.specialCost" {{checked system.specialCost}} data-dtype="Boolean" />
            </div>
          </div>
          <div class="form-group">
            <label>{{localize "WWN.Starship.Power"}}</label>
            <div class="form-fields">
              <input type="number" name="system.power" value="{{system.power}}" step="any" data-dtype="Number" />
            </div>
          </div>
          <div class="form-group">
            <label>{{localize "WWN.Starship.Mass"}}</label>
            <div class="form-fields">
              <input type="number" name="system.mass" value="{{system.mass}}" step="any" data-dtype="Number" />
            </div>
          </div>
          <div class="form-group wwn-form-span">
            <label>{{localize "WWN.Starship.MinimumHullClass"}}</label>
            <div class="form-fields">
              <select name="system.minClass">
                {{selectOptions config.hullClasses selected=system.minClass}}
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="wwn-form-panel">
        <div class="wwn-section-header">{{localize "WWN.Starship.Combat"}}</div>
        <div class="wwn-form-panel-fields">
          <div class="form-group">
            <label>{{localize "WWN.Starship.Damage"}}</label>
            <div class="form-fields">
              <input type="text" name="system.damage" value="{{system.damage}}" data-dtype="String" />
            </div>
          </div>
          <div class="form-group">
            <label>{{localize "WWN.Starship.Hardpoints"}}</label>
            <div class="form-fields">
              <input type="number" name="system.hardpoints" value="{{system.hardpoints}}" min="0" step="1" data-dtype="Number" />
            </div>
          </div>
          <div class="form-group">
            <label>{{localize "WWN.Starship.TechLevel"}}</label>
            <div class="form-fields">
              <input type="number" name="system.tl" value="{{system.tl}}" step="1" data-dtype="Number" />
            </div>
          </div>
          <div class="form-group">
            <label>{{localize "WWN.Starship.AttackBonus"}}</label>
            <div class="form-fields">
              <input type="number" name="system.attackBonus" value="{{system.attackBonus}}" step="1" data-dtype="Number" />
            </div>
          </div>
          <div class="form-group wwn-form-span">
            <label>{{localize "WWN.Starship.Qualities"}}</label>
            <div class="form-fields">
              <input type="text" name="system.qualities" value="{{system.qualities}}" data-dtype="String" />
            </div>
          </div>
          <div class="form-group">
            <label>{{localize "WWN.Starship.Ammo"}}</label>
            <div class="form-fields">
              <input type="number" name="system.ammo" value="{{system.ammo}}" min="0" step="1" data-dtype="Number" />
            </div>
          </div>
          <div class="form-group">
            <label>{{localize "WWN.Starship.AmmoCost"}}</label>
            <div class="form-fields">
              <input type="number" name="system.ammoCost" value="{{system.ammoCost}}" min="0" step="1" data-dtype="Number" />
            </div>
          </div>
        </div>
      </div>
      <div class="wwn-form-panel">
        <div class="wwn-section-header">{{localize "WWN.Starship.Equipment"}}</div>
        <div class="wwn-form-panel-fields">
          <div class="form-group">
            <label>{{localize "WWN.Starship.CostScales"}}</label>
            <div class="form-fields">
              <input type="checkbox" name="system.costScales" {{checked system.costScales}} data-dtype="Boolean" />
            </div>
          </div>
          <div class="form-group">
            <label>{{localize "WWN.Starship.PowerScales"}}</label>
            <div class="form-fields">
              <input type="checkbox" name="system.powerScales" {{checked system.powerScales}} data-dtype="Boolean" />
            </div>
          </div>
          <div class="form-group">
            <label>{{localize "WWN.Starship.MassScales"}}</label>
            <div class="form-fields">
              <input type="checkbox" name="system.massScales" {{checked system.massScales}} data-dtype="Boolean" />
            </div>
          </div>
          <div class="form-group">
            <label>{{localize "WWN.Starship.Disabled"}}</label>
            <div class="form-fields">
              <input type="checkbox" name="system.disabled" {{checked system.disabled}} data-dtype="Boolean" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
