<section class="flex flex-col gap-2 tab p-2" data-group="primary" data-tab="description">
  <div class="description flex-1 overflow-auto min-h-[200px]">
    {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable async=true}}
  </div>
  <div class="flex flex-row gap-3">
    <div class="stats flex-1 border border-wwn-border p-0.5 text-[13px]">
      <div class="form-group flex items-center m-px border border-wwn-border gap-2 px-2">
        <label class="text-xs whitespace-nowrap" title="{{localize 'WWN.items.crew.ispc'}}">{{localize 'WWN.items.crew.ispc'}}</label>
        <div class="form-fields flex justify-center">
          <input type="checkbox" name="system.ispc" value="{{system.ispc}}" {{checked system.ispc}}
            data-dtype="Boolean" />
        </div>
        <label class="text-xs whitespace-nowrap" title="{{localize 'WWN.items.crew.ispc'}}">{{localize 'WWN.items.crew.isrower'}}</label>
        <div class="form-fields flex justify-center">
          <input type="checkbox" name="system.isrower" value="{{system.isrower}}" {{checked system.isrower}}
            data-dtype="Boolean" />
        </div>
      </div>
    </div>
  </div>
</section>
