<header class="sheet-header flex flex-row gap-2 p-2 border-b border-wwn-border items-center">
  <img class="profile-img border-0 w-[84px] h-[84px] object-contain flex-none" src="{{img}}" data-edit="img" title="{{name}}" />
  <div class="header-col flex flex-col flex-1 min-w-0 gap-1">
    <div class="flex flex-row items-center gap-2">
      <h1 class="charname flex-1 m-0">
        <input class="text-lg font-bold bg-transparent border-b border-wwn-border w-full px-1 py-0.5" name="name" type="text" value="{{name}}" placeholder="Name" />
      </h1>
      <div class="details flex flex-row gap-2 shrink-0">
        <div class="form-group flex items-center gap-1">
          <label class="text-xs font-bold">{{localize 'WWN.details.level'}}</label>
          <div class="form-fields">
            <input class="w-10 text-center text-xs" type="text" name="system.ownedLevel" value="{{system.ownedLevel}}" data-dtype="Number" />
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
