<section class="flex flex-col gap-2 tab p-2" data-group="primary" data-tab="info">
  <div class="flex flex-row gap-3">
    <div class="stats flex-1 border border-wwn-border p-0.5 text-[13px]">
      <div class="form-group flex items-center m-px border border-wwn-border min-w-[200px]">
        <label class="bg-wwn-row-alt px-2 whitespace-nowrap text-center leading-[21px] min-w-[120px] text-xs" title="{{localize 'WWN.items.Treasure'}}">{{localize 'WWN.items.Treasure'}}</label>
        <div class="form-fields flex-1 flex justify-center h-[22px]">
          <input type="checkbox" name="system.treasure" value="{{system.treasure}}" {{checked system.treasure}}
            data-dtype="Boolean" />
        </div>
      </div>
      <div class="form-group flex items-center m-px border border-wwn-border min-w-[200px]">
        <label class="bg-wwn-row-alt px-2 whitespace-nowrap text-center leading-[21px] min-w-[120px] text-xs">Personal Treasure</label>
        <div class="form-fields flex-1 flex justify-center h-[22px]">
          <input type="checkbox" name="system.personal" value="{{system.personal}}" {{checked system.personal}}
            data-dtype="Boolean" />
        </div>
      </div>
      <div class="form-group flex items-center m-px border border-wwn-border min-w-[200px]">
        <label class="bg-wwn-row-alt px-2 whitespace-nowrap text-center leading-[21px] min-w-[120px] text-xs">Container</label>
        <div class="form-fields flex-1 flex justify-center h-[22px]">
          <input type="checkbox" name="system.container.isContainer" {{checked system.container.isContainer}} />
        </div>
      </div>
      <div class="form-group flex items-center m-px border border-wwn-border min-w-[200px]">
        <label class="bg-wwn-row-alt px-2 whitespace-nowrap text-center leading-[21px] min-w-[120px] text-xs">{{localize "WWN.items.WeightlessLabel"}}</label>
        <div class="form-fields flex-1 flex justify-evenly h-[22px]">
          <select class="h-6 text-xs" name="system.weightless">
            {{selectOptions config.weightless selected=system.weightless localize=true}}
          </select>
        </div>
      </div>
    </div>
    <div class="stats flex-1 border border-wwn-border p-0.5 text-[13px]">
      <div class="form-group flex items-center m-px border border-wwn-border min-w-[200px]">
        <label class="bg-wwn-row-alt px-2 whitespace-nowrap text-center leading-[21px] min-w-[120px] text-xs" title="{{localize 'WWN.items.Charges'}}">{{localize 'WWN.items.Charges'}}</label>
        <div class="form-fields flex-1 flex justify-evenly h-[22px]">
          <input class="w-10 text-center text-xs" type="number" name="system.charges.value" value="{{system.charges.value}}" data-dtype="Number"
            title="{{localize 'WWN.items.CurrCharges'}}" />
          <input class="w-10 text-center text-xs" type="number" name="system.charges.max" value="{{system.charges.max}}" data-dtype="Number"
            title="{{localize 'WWN.items.MaxCharges'}}" />
        </div>
      </div>
    </div>
  </div>
</section>
