<section class="tab p-2" data-group="primary" data-tab="main">
  <div class="flex flex-row gap-3">
    <div class="skill-details shrink-0 basis-[35%] flex flex-col gap-1">
      <div class="form-group flex items-center justify-between gap-2 py-1">
        <label class="text-xs font-bold shrink-0 w-[60px]">{{localize 'WWN.details.level'}}</label>
        <div class="form-fields basis-[35%] shrink-0">
          <input class="w-full text-center text-xs" type="number" name="system.ownedLevel" value="{{system.ownedLevel}}" data-dtype="Number" />
        </div>
      </div>
      <div class="form-group flex items-center justify-between gap-2 py-1">
        <label class="text-xs font-bold shrink-0 w-[60px]">{{localize 'WWN.attribute'}}</label>
        <div class="form-fields basis-[35%] shrink-0">
          <select class="w-full h-6 text-xs" name="system.score">
            <option value=""></option>
            {{selectOptions config.scores selected=system.score}}
          </select>
        </div>
      </div>
      <div class="form-group flex items-center justify-between gap-2 py-1">
        <label class="text-xs font-bold shrink-0 w-[60px]">{{localize 'WWN.dialog.skillDice'}}</label>
        <div class="form-fields basis-[35%] shrink-0">
          <select class="w-full h-6 text-xs" id="skillDice" name="system.skillDice">
            {{selectOptions config.skillDice selected=system.skillDice}}
          </select>
        </div>
      </div>
      <div class="form-group flex items-center justify-between gap-2 py-1">
        <label class="text-xs font-bold shrink-0 w-[60px]">{{localize 'WWN.skills.secondary'}}</label>
        <div class="form-fields basis-[35%] shrink-0 flex justify-center">
          <input type="checkbox" name="system.secondary" value="{{system.secondary}}" {{checked system.secondary}}
            data-dtype="Boolean" />
        </div>
      </div>
    </div>
    <div class="description flex-1 overflow-auto min-h-[300px]">
      {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable async=true}}
    </div>
  </div>
</section>
