<section class="flex flex-col gap-2 tab p-2" data-group="primary" data-tab="info">
  <div class="flex flex-row gap-3">
    <div class="stats flex-1 border border-wwn-border p-0.5 text-[13px]">
      <div class="form-group flex items-center m-px border border-wwn-border">
        <label class="bg-wwn-row-alt px-2 whitespace-nowrap text-center leading-[21px] min-w-[100px] text-xs">{{localize 'WWN.spells.Level'}}</label>
        <div class="form-fields flex-1 flex justify-evenly h-[22px]">
          <input class="w-12 text-center text-xs" type="text" name="system.lvl" value="{{system.lvl}}" data-dtype="Number" />
        </div>
      </div>
      <div class="form-group flex items-center m-px border border-wwn-border">
        <label class="bg-wwn-row-alt px-2 whitespace-nowrap text-center leading-[21px] min-w-[100px] text-xs">{{localize 'WWN.spells.Class'}}</label>
        <div class="form-fields flex-1 flex justify-evenly h-[22px]">
          <input class="flex-1 text-center text-xs" type="text" name="system.class" value="{{system.class}}" data-dtype="String" />
        </div>
      </div>
      <div class="form-group flex items-center m-px border border-wwn-border">
        <label class="bg-wwn-row-alt px-2 whitespace-nowrap text-center leading-[21px] min-w-[100px] text-xs">{{localize 'WWN.spells.Duration'}}</label>
        <div class="form-fields flex-1 flex justify-evenly h-[22px]">
          <input class="flex-1 text-center text-xs" type="text" name="system.duration" value="{{system.duration}}" data-dtype="String" />
        </div>
      </div>
    </div>
    <div class="stats flex-1 border border-wwn-border p-0.5 text-[13px]">
      <div class="form-group flex items-center m-px border border-wwn-border">
        <label class="bg-wwn-row-alt px-2 whitespace-nowrap text-center leading-[21px] min-w-[100px] text-xs">{{localize 'WWN.spells.Range'}}</label>
        <div class="form-fields flex-1 flex justify-evenly h-[22px]">
          <input class="flex-1 text-center text-xs" type="text" name="system.range" value="{{system.range}}" data-dtype="String" />
        </div>
      </div>
      <div class="form-group flex items-center m-px border border-wwn-border">
        <label class="bg-wwn-row-alt px-2 whitespace-nowrap text-center leading-[21px] min-w-[100px] text-xs">{{localize 'WWN.items.Roll'}}</label>
        <div class="form-fields flex-1 flex justify-evenly h-[22px]">
          <input class="flex-1 text-center text-xs" type="text" name="system.roll" value="{{system.roll}}" data-dtype="String" />
        </div>
      </div>
      <div class="form-group flex items-center m-px border border-wwn-border">
        <label class="bg-wwn-row-alt px-2 whitespace-nowrap text-center leading-[21px] min-w-[100px] text-xs">{{localize 'WWN.spells.Save'}}</label>
        <div class="form-fields flex-1 flex justify-evenly h-[22px]">
          <select class="h-6 text-xs" name="system.save">
            <option value=""></option>
            {{selectOptions config.saves selected=system.save localize=true}}
          </select>
        </div>
      </div>
    </div>
  </div>
</section>
