{{!-- Abilities tab: (1) Foci and Abilities, (2) Arts, (3) Spells --}}
<section class="abilities-tab-foci inventory" data-base-size="100">
  <div class="item-titles flex flex-row items-center bg-wwn-header-bg text-white border border-wwn-border-strong shadow-[0_0_5px_var(--wwn-border-strong)] text-center py-1 text-[13px] mt-[7px]">
    <div class="item-name grow text-left indent-2">{{localize 'WWN.category.fociTitle'}}</div>
    <div class="field-short text-xs basis-[45px] grow-0 text-center flex items-center justify-center">{{localize 'WWN.details.level'}}</div>
    <div class="item-controls text-xs basis-[60px] grow-0 flex items-center justify-end gap-1 mr-1">
      {{#if owner}}
      <a class="item-control item-create hover:text-wwn-accent-bright" data-action="item-create" title='{{localize "WWN.Add"}}' data-type="choice"
          data-choices="focus,ability"><i class="fas fa-plus"></i></a>
      {{/if}}
    </div>
  </div>
  <ol class="item-list list-none m-0 p-0" data-base-size="100">
    {{#each owned.abilities as |ability|}}
    <li class="item-entry odd:bg-transparent even:bg-wwn-row-alt">
      <div class="item flex flex-row items-center h-[26px] overflow-hidden text-[14px]" data-item-id="{{ability.id}}">
        <div class="item-name item-rollable flex flex-row grow indent-2 text-left overflow-hidden items-center basis-[90px]" data-action="item-roll">
          <div class="item-image basis-[24px] h-[24px] grow-0 shrink-0 bg-contain bg-no-repeat" style="background-image: url({{ability.img}})"></div>
          <a>
            <p class="m-0" title="{{ability.name}}">{{ability.name~}}</p>
          </a>
        </div>
        <div class="item-controls text-xs basis-[60px] grow-0 flex items-center justify-end gap-1 mr-1">
          {{#if ../owner}}
          <a class="item-control item-show hover:text-wwn-accent-bright" data-action="item-show" title='{{localize "WWN.Show"}}'><i class="fas fa-eye"></i></a>
          <a class="item-control item-edit hover:text-wwn-accent-bright" data-action="item-edit" title='{{localize "WWN.Edit"}}'><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete hover:text-wwn-accent-bright" data-action="item-delete" title='{{localize "WWN.Delete"}}'><i class="fas fa-trash"></i></a>
          <a class="item-control toggle-favorite hover:text-wwn-accent-bright" data-action="toggle-favorite" title='{{#if (contains @root.favoriteItemIds ability.id)}}{{localize "WWN.RemoveFavorite"}}{{else}}{{localize "WWN.AddFavorite"}}{{/if}}'><i class="{{#if (contains @root.favoriteItemIds ability.id)}}fas fa-star text-wwn-accent-bright{{else}}far fa-star{{/if}}"></i></a>
          {{/if}}
        </div>
      </div>
    </li>
    {{/each}}
    {{#each owned.foci as |focus|}}
    <li class="item-entry odd:bg-transparent even:bg-wwn-row-alt">
      <div class="item flex flex-row items-center h-[26px] overflow-hidden text-[14px]" data-item-id="{{focus.id}}">
        <div class="item-name item-rollable flex flex-row grow indent-2 text-left overflow-hidden items-center basis-[90px]" data-action="item-roll">
          <div class="item-image basis-[24px] h-[24px] grow-0 shrink-0 bg-contain bg-no-repeat" style="background-image: url({{focus.img}})"></div>
          <a>
            <p class="m-0" title="{{focus.name}}">{{focus.name~}}</p>
          </a>
        </div>
        <div class="field-short text-xs basis-[45px] grow-0 text-center flex items-center justify-center">
          <input value="{{focus.system.ownedLevel}}" type="number" data-dtype="Number" disabled />
        </div>
        <div class="item-controls text-xs basis-[60px] grow-0 flex items-center justify-end gap-1 mr-1">
          {{#if ../owner}}
          <a class="item-control item-show hover:text-wwn-accent-bright" data-action="item-show" title='{{localize "WWN.Show"}}'><i class="fas fa-eye"></i></a>
          <a class="item-control item-edit hover:text-wwn-accent-bright" data-action="item-edit" title='{{localize "WWN.Edit"}}'><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete hover:text-wwn-accent-bright" data-action="item-delete" title='{{localize "WWN.Delete"}}'><i class="fas fa-trash"></i></a>
          <a class="item-control toggle-favorite hover:text-wwn-accent-bright" data-action="toggle-favorite" title='{{#if (contains @root.favoriteItemIds focus.id)}}{{localize "WWN.RemoveFavorite"}}{{else}}{{localize "WWN.AddFavorite"}}{{/if}}'><i class="{{#if (contains @root.favoriteItemIds focus.id)}}fas fa-star text-wwn-accent-bright{{else}}far fa-star{{/if}}"></i></a>
          {{/if}}
        </div>
      </div>
    </li>
    {{/each}}
  </ol>
</section>
<section class="inventory" data-base-size="310">
  <div class="flex flex-row">
    <div class="flex-2">
      <li class="item-titles flex flex-row items-center bg-wwn-header-bg text-white border border-wwn-border-strong shadow-[0_0_5px_var(--wwn-border-strong)] text-center py-1 text-[13px] mt-[7px]">
        <div class="item-caret flex-[0_0_10px] mx-1 cursor-pointer" data-action="item-caret"><i class="fas fa-caret-down"></i></div>
        <div class="item-name grow text-left indent-2">{{localize "WWN.spells.Arts"}}</div>
        <div class="field-long basis-[80px] grow-0 text-center text-xs" title="{{localize 'WWN.spells.ArtSourceHint'}}">{{localize "WWN.spells.ArtSource"}}
        </div>
        <div class="field-short text-xs basis-[45px] grow-0 text-center flex items-center justify-center" title="{{localize 'WWN.spells.Effort'}}{{localize 'WWN.spells.Committed'}}">
          {{localize "WWN.spells.Effort"}}</div>
        <div class="field-short text-xs basis-[45px] grow-0 text-center flex items-center justify-center" title="{{localize 'WWN.spells.TimeHint'}}">{{localize "WWN.spells.Commit"}}</div>
        <div class="item-controls text-xs basis-[60px] grow-0 flex items-center justify-end gap-1 mr-1">
          <a class="item-control effort-reset hover:text-wwn-accent-bright" data-action="effort-reset" title='{{localize "WWN.spells.ResetEffort"}}'><i
              class="fas fa-sync"></i></a>
          <a class="item-control item-search hover:text-wwn-accent-bright" data-action="item-search" data-type="art" title="{{localize 'WWN.Search'}}"><i
              class="fa fa-search"></i></a>
          <a class="item-control item-create hover:text-wwn-accent-bright" data-action="item-create" data-type="art" title="{{localize 'WWN.Add'}}"><i
              class="fa fa-plus"></i></a>
        </div>
      </li>
      {{#each owned.arts as |artGroup|}}
      <ol class="item-list list-none m-0 p-0">
        {{#each artGroup as |art|}}
        <li class="item-entry odd:bg-transparent even:bg-wwn-row-alt">
          <div class="item flex flex-row items-center h-[26px] overflow-hidden text-[14px]" data-item-id="{{art.id}}">
            <div class="item-name item-rollable flex flex-row grow indent-2 text-left overflow-hidden items-center basis-[90px]" data-action="item-roll">
              <div class="item-image basis-[24px] h-[24px] grow-0 shrink-0 bg-contain bg-no-repeat" style="background-image: url({{art.img}})"></div>
              <a>
                <p class="m-0" title="{{art.name}}">
                  {{art.name~}}
                </p>
              </a>
            </div>
            <div class="field-long artSource basis-[80px] grow-0 text-center text-xs">
              <input value="{{art.system.source}}" type="text" placeholder="High Mage" />
            </div>
            <div class="field-short artEffort text-xs basis-[45px] grow-0 text-center">
              <input value="{{art.system.effort}}" type="number" data-dtype="Number" />
            </div>
            <div class="field-short artTime text-xs basis-[45px] grow-0 text-center">
              <input value="{{art.system.time}}" type="text" />
            </div>
            <div class="item-controls text-xs basis-[60px] grow-0 flex items-center justify-end gap-1 mr-1">
              <a class="item-control item-edit hover:text-wwn-accent-bright" data-action="item-edit" title='{{localize "WWN.Edit"}}'><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete hover:text-wwn-accent-bright" data-action="item-delete" title='{{localize "WWN.Delete"}}'><i class="fas fa-trash"></i></a>
              {{#if ../../owner}}
              <a class="item-control toggle-favorite hover:text-wwn-accent-bright" data-action="toggle-favorite" title='{{#if (contains @root.favoriteItemIds art.id)}}{{localize "WWN.RemoveFavorite"}}{{else}}{{localize "WWN.AddFavorite"}}{{/if}}'><i class="{{#if (contains @root.favoriteItemIds art.id)}}fas fa-star text-wwn-accent-bright{{else}}far fa-star{{/if}}"></i></a>
              {{/if}}
            </div>
          </div>
        </li>
        {{/each}}
      </ol>
      {{/each}}
    </div>
    <div>
      <div class="item-titles flex flex-row items-center bg-wwn-header-bg text-white border border-wwn-border-strong shadow-[0_0_5px_var(--wwn-border-strong)] text-center py-1 text-[13px] mt-[7px] spell-resources ml-1">
        <div class="item-name grow text-left indent-2">{{localize "WWN.spells.Class"}} {{localize "WWN.spells.Effort"}}</div>
        <div class="item-controls text-xs basis-[60px] grow-0 flex items-center justify-end gap-1 mr-1">
          <a class="item-control effort-reset hover:text-wwn-accent-bright" data-action="effort-reset" title='{{localize "WWN.spells.ResetEffort"}}'><i
              class="fas fa-sync"></i></a>
        </div>
      </div>
      <ol class="item-list list-none m-0 p-0">
        {{#each system.classes as |artGroup id|}}
        <li class="item-entry odd:bg-transparent even:bg-wwn-row-alt">
          <div class="item flex flex-row items-center h-[26px] overflow-hidden text-[14px]">
            <div class="item-name flex flex-row grow indent-2 text-left overflow-hidden items-center basis-[90px]">{{id}}</div>
            <div class="field-short text-xs basis-[45px] grow-0 text-center flex items-center justify-center">
              <input name="{{artGroup.value}}" type="number" value={{artGroup.value}} data-dtype="Number" disabled />
            </div> /
            <div class="field-short text-xs basis-[45px] grow-0 text-center flex items-center justify-center">
              <input name="system.classes.{{id}}.max" type="number" value={{artGroup.max}} data-dtype="Number" />
            </div>
          </div>
        </li>
        {{/each}}
      </ol>
      {{#if (evalAnd system.spells.spellsEnabled (nt system.spells.leveledSlots true))}}
      <div class="item-titles flex flex-row items-center bg-wwn-header-bg text-white border border-wwn-border-strong shadow-[0_0_5px_var(--wwn-border-strong)] text-center py-1 text-[13px] mt-[7px] spell-resources ml-1">
        <div class="item-name grow text-left indent-2">{{localize "WWN.category.spells"}}</div>
        <div class="item-controls text-xs basis-[60px] grow-0 flex items-center justify-end gap-1 mr-1">
          <a class="item-control slot-reset hover:text-wwn-accent-bright" data-action="effort-reset" title='{{localize "WWN.spells.ResetSlots"}}'><i
              class="fas fa-sync"></i></a>
        </div>
      </div>
      <ol class="item-list list-none m-0 p-0">
        <li class="item-entry odd:bg-transparent even:bg-wwn-row-alt">
          <div class="item flex flex-row items-center h-[26px] overflow-hidden text-[14px]">
            <div class="item-name flex flex-row grow indent-2 text-left overflow-hidden items-center basis-[90px] spell-resources ml-1">{{localize "WWN.spells.TotalPrepared"}}</div>
            <div class="field-short text-xs basis-[45px] grow-0 text-center flex items-center justify-center">
              <input name="system.spells.prepared.value" type="number" value="{{system.spells.prepared.value}}"
                data-dtype="Number" disabled />
            </div> /
            <div class="field-short text-xs basis-[45px] grow-0 text-center flex items-center justify-center">
              <input name="system.spells.prepared.max" type="number" value="{{system.spells.prepared.max}}"
                data-dtype="Number" />
            </div>
        </li>
        <li class="item-entry odd:bg-transparent even:bg-wwn-row-alt">
          <div class="item flex flex-row items-center h-[26px] overflow-hidden text-[14px]">
            <div class="item-name flex flex-row grow indent-2 text-left overflow-hidden items-center basis-[90px] spell-resources ml-1">{{localize "WWN.spells.Slots"}}</div>
            <div class="field-short text-xs basis-[45px] grow-0 text-center flex items-center justify-center">
              <input name="system.spells.perDay.value" type="number" value="{{system.spells.perDay.value}}"
                data-dtype="Number" />
            </div> /
            <div class="field-short text-xs basis-[45px] grow-0 text-center flex items-center justify-center">
              <input name="system.spells.perDay.max" type="number" value="{{system.spells.perDay.max}}"
                data-dtype="Number" />
            </div>
        </li>
      </ol>
      {{/if}}
    </div>
  </div>
</section>
{{#if system.spells.spellsEnabled}}
<section class="inventory spells" data-base-size="320">
  <div class="item-titles flex flex-row items-center bg-wwn-header-bg text-white border border-wwn-border-strong shadow-[0_0_5px_var(--wwn-border-strong)] text-center py-1 text-[13px] mt-[7px] leading-[15px]">
    <div class="item-name grow text-left indent-2">{{localize "WWN.category.spells"}}</div>
    <div class="item-controls text-xs basis-[60px] grow-0 flex items-center justify-end gap-1 mr-1">
      <a class="item-control slot-reset hover:text-wwn-accent-bright" title='{{localize "WWN.spells.ResetSlots"}}'><i class="fas fa-sync"></i></a>
      <a class="item-control item-search hover:text-wwn-accent-bright" data-action="item-search" data-type="spell" title="{{localize 'WWN.Search'}}"><i
          class="fa fa-search"></i></a>
      <a class="item-control item-create hover:text-wwn-accent-bright" data-action="item-create" data-type="spell" title="{{localize 'WWN.Add'}}"><i
          class="fa fa-plus"></i></a>
    </div>
  </div>
  <div class="spells">
    {{#each owned.spells as |spellGroup id|}}
    <div class="spells-parent">
      <li class="item-titles flex flex-row items-center bg-wwn-header-bg text-white border border-wwn-border-strong shadow-[0_0_5px_var(--wwn-border-strong)] text-center py-1 text-[13px] mt-[7px]">
        <div class="item-caret flex-[0_0_10px] mx-1 cursor-pointer" data-action="item-caret"><i class="fas fa-caret-down"></i> </div>
        <div class="item-name grow text-left indent-2">{{localize "WWN.spells.Level"}} {{id}}</div>

        {{#if ../system.spells.leveledSlots}}
        <div class="field-long spellSlots flex flex-row basis-[80px] grow-0 text-center text-xs">
          <input type="text" value="{{lookup (lookup @root.system.spells.slots @key) 'used'}}"
            name="system.spells.{{id}}.value" data-dtype="Number" placeholder="0" readonly
            title="Memorized Spells" />/<input type="text"
            value="{{lookup (lookup @root.system.spells.slots @key) 'max'}}" name="system.spells.slots.{{id}}.max"
            data-dtype="Number" placeholder="0" title="Available Slots" />
        </div>
        {{/if}}

        <div class="item-controls text-xs basis-[60px] grow-0 flex items-center justify-end gap-1 mr-1">
          <a class="item-control item-create hover:text-wwn-accent-bright" data-action="item-create" data-type="spell" data-lvl="{{id}}" title="{{localize 'WWN.Add'}}"><i
              class="fa fa-plus"></i></a>
        </div>
      </li>
      <ol class="item-list spells-child list-none m-0 p-0 flex flex-row flex-wrap">
        {{#each spellGroup as |item|}}
        <li class="item-entry flex flex-col basis-1/2 odd:bg-transparent even:bg-wwn-row-alt">
          <div class="item flex flex-row items-center h-[26px] overflow-hidden text-[14px]" data-item-id="{{item.id}}">
            <div class="item-name item-rollable flex flex-row grow indent-2 text-left overflow-hidden items-center basis-[90px]" data-action="item-roll">
              <div class="item-image basis-[24px] h-[24px] grow-0 shrink-0 bg-contain bg-no-repeat" style="background-image: url({{item.img}})"></div>
              <a>
                <p class="m-0" title="{{item.name}}">
                  {{item.name~}}
                </p>
              </a>
            </div>

            {{#if actor.system.spells.leveledSlots}}
            <div class="field-long memorize flex flex-row basis-[80px] grow-0 text-center text-xs">
              <input type="number" value="{{system.cast}}" data-dtype="Number" placeholder="0" data-field="cast"
                title="Cast" />
              /
              <input type="number" value="{{system.memorized}}" data-field="memorize" data-dtype="Number"
                placeholder="0" title="Memorized" />
            </div>
            {{/if}}

            <div class="item-controls text-xs basis-[60px] grow-0 flex items-center justify-end gap-1 mr-1">
              {{#if ../../owner}}
              {{#unless actor.system.spells.leveledSlots}}
              <a class="item-control item-prep {{#unless item.system.prepared}}item-unprepared opacity-25{{/unless}} hover:text-wwn-accent-bright"
                data-action="item-prep" title='{{localize "WWN.spells.Prepared"}}'>
                <i class="fas fa-brain"></i></a>
              {{/unless}}
              <a class="item-control item-show hover:text-wwn-accent-bright" title='{{localize "WWN.Show"}}'><i class="fas fa-eye"></i></a>
              <a class="item-control item-edit hover:text-wwn-accent-bright" data-action="item-edit" title='{{localize "WWN.Edit"}}'><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete hover:text-wwn-accent-bright" data-action="item-delete" title='{{localize "WWN.Delete"}}'><i class="fas fa-trash"></i></a>
              <a class="item-control toggle-favorite hover:text-wwn-accent-bright" data-action="toggle-favorite" title='{{#if (contains @root.favoriteItemIds item.id)}}{{localize "WWN.RemoveFavorite"}}{{else}}{{localize "WWN.AddFavorite"}}{{/if}}'><i class="{{#if (contains @root.favoriteItemIds item.id)}}fas fa-star text-wwn-accent-bright{{else}}far fa-star{{/if}}"></i></a>
              {{/if}}
            </div>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>
    {{/each}}
  </div>
</section>
{{/if}}
{{#if (evalNor system.spells.artsEnabled system.spells.spellsEnabled)}}
<h4 class="text-lg pt-[30px] text-center">Drag arts or spells from the compendium to get
  started.</h4>
{{/if}}
