<section class="attributes-tab main-tab flex flex-row gap-2 mt-2">
  <div class="main-tab-abilities flex-none max-w-[180px]">
    <div class="modifiers-btn">
      {{#if isNew}}
      <a data-action="generate-scores" title="{{localize 'WWN.dialog.generateScores'}}"><i
          class="fas fa-dice animate-notify font-bold"></i></a>
      {{/if}}
    </div>
    <ul class="attributes list-none m-0 p-0 flex flex-col gap-2">
      {{#each scores as |score|}}
      <li class="border border-wwn-border bg-wwn-bg-elevated grid grid-rows-[auto_auto] grid-cols-2"
        data-score="{{score.id}}">
        <p class="col-span-full px-1.5 py-[2px] border-b border-wwn-border bg-wwn-header-bg text-wwn-panel-title text-center text-sm cursor-pointer leading-snug"
          data-action="roll-check" data-score="{{score.id}}" title="{{ localize score.longKey }}">
          {{ localize score.shortKey }}
        </p>
        <div class="col-start-1 border-r border-wwn-border px-1.5 py-0.5 flex items-center justify-center">
          <input name="system.scores.{{score.id}}.value" type="number" value="{{score.value}}" placeholder="0"
            data-dtype="Number" class="w-9 text-center text-sm h-8" />
        </div>
        <div class="col-start-2 px-1.5 py-0.5 flex items-center justify-center">
          <input name="system.scores.{{score.id}}.mod" type="number" value="{{score.mod}}" data-dtype="Number" disabled
            class="w-9 text-center text-sm h-8" />
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="main-tab-skills inventory skills flex-1 min-w-[200px] max-w-[380px] overflow-y-auto" data-base-size="40">
    <div
      class="item-titles flex flex-row items-center text-center py-1 border border-wwn-border-strong text-[14px] bg-wwn-header-bg text-white">
      <div class="item-name flex-1 text-left indent-2">{{localize "WWN.category.skills"}}</div>
      <div class="item-controls text-xs basis-[60px] grow-0 text-right mr-1">
        <a class="item-control lock-skills lock hover:text-wwn-accent-bright {{#unless system.config.skillsEditMode}}hidden{{/unless}}"
          data-action="lock-skills" data-type="lock" title="{{localize 'WWN.Lock'}}"><i
            class="fa fa-unlock pr-0.5"></i></a>
        <a class="item-control lock-skills unlock hover:text-wwn-accent-bright {{#if system.config.skillsEditMode}}hidden{{/if}}"
          data-action="lock-skills" data-type="unlock" title="{{localize 'WWN.Lock'}}"><i
            class="fa fa-lock pr-0.5"></i></a>
        <a class="item-control item-create hover:text-wwn-accent-bright" data-action="item-create" data-type="skill"
          title="{{localize 'WWN.Add'}}"><i class="fa fa-plus"></i></a>
      </div>
    </div>
    <ol class="item-list skills-grid list-none m-0 p-0 columns-2 gap-x-0">
      {{#if (eq owned.skills.length 0)}}
      <a class="add-skills">
        <li class="item-entry px-2 py-1 text-center text-sm text-wwn-text-muted break-inside-avoid">
          Add Skills
        </li>
      </a>
      {{/if}}
      {{#each owned.skills as |skill|}}
      <li class="skill-row break-inside-avoid">
        <div class="item flex flex-row items-center h-[30px] px-1 overflow-hidden text-[14px]
            {{#if (eq skill.system.ownedLevel -1)}}text-wwn-text-muted{{/if}}
          " data-item-id="{{skill.id}}">
          <div class="item-name-short item-rollable flex-1 min-w-0 truncate" data-action="item-roll">
            <a class="skill-roll">
              <span data-tooltip="{{skill.system.description~}}">{{skill.name}}</span>
            </a>
          </div>
          <div
            class="text-[11px] w-[22px] text-center text-wwn-text-muted shrink-0 {{#if @root.system.config.skillsEditMode}}hidden{{/if}}">
            {{lookup @root.config.scores skill.system.score}}
          </div>
          <div
            class="text-[11px] w-[20px] text-center font-semibold shrink-0 {{#if @root.system.config.skillsEditMode}}hidden{{/if}}">
            {{skill.system.ownedLevel}}
          </div>
          {{#if ../owner}}
          <div class="shrink-0 text-[11px] {{#unless @root.system.config.skillsEditMode}}hidden{{/unless}}"><a
              class="item-control item-edit hover:text-wwn-accent-bright" data-action="item-edit"
              title='{{localize "WWN.Edit"}}'><i class="fas fa-edit"></i></a></div>
          <div class="shrink-0 text-[11px] {{#unless @root.system.config.skillsEditMode}}hidden{{/unless}}"><a
              class="item-control item-delete hover:text-wwn-accent-bright" data-action="item-delete"
              title='{{localize "WWN.Delete"}}'><i class="fas fa-trash"></i></a></div>
          <div class="shrink-0 text-[11px] {{#unless @root.system.config.skillsEditMode}}hidden{{/unless}}"><a
              class="item-control skill-up hover:text-wwn-accent-bright" data-action="skill-up"
              title='{{localize "WWN.Up"}}'><i class="fas fa-level-up-alt"></i></a></div>
          {{/if}}
        </div>
      </li>
      {{/each}}
    </ol>
    <div class="border-t border-wwn-border bg-wwn-bg-elevated">
      <div class="flex flex-row items-center h-[30px] px-1 text-[14px]">
        <div class="flex-1 min-w-0 font-medium pl-1" title="{{ localize 'WWN.skills.unspentPointsHint' }}">
          {{ localize "WWN.skills.unspentPoints" }}
        </div>
        <div class="w-[42px] text-center shrink-0">
          <input name="system.skills.unspent" type="number" value="{{system.skills.unspent}}" data-dtype="Number"
            class="w-[35px] text-center text-xs" />
        </div>
      </div>
    </div>
  </div>
  <div class="main-tab-favorites flex-1 min-w-[120px] min-h-0 flex flex-col overflow-hidden">
    <div
      class="item-titles flex flex-row items-center text-center py-1 border border-wwn-border-strong text-[14px] bg-wwn-header-bg text-white shrink-0">
      <div class="item-name flex-1">{{localize "WWN.category.favorites"}}</div>
    </div>
    <div class="favorites-list flex-1 min-h-0 overflow-y-auto border border-wwn-border rounded border-t-0 mt-0 p-1">
      {{#each favorited.weapons as |item|}}
      <div class="item flex flex-row items-center h-[26px] overflow-hidden text-[14px] rounded px-1 hover:bg-wwn-row-alt" data-item-id="{{item.id}}">
        <div class="item-image basis-[24px] h-[24px] grow-0 shrink-0 bg-contain bg-no-repeat" style="background-image: url({{item.img}})"></div>
        <div class="item-name item-rollable flex-1 min-w-0 truncate pl-1" data-action="item-roll" title="{{item.name}}">{{item.name}}</div>
        {{#if ../owner}}
        <a class="item-control item-edit shrink-0 text-xs hover:text-wwn-accent-bright" data-action="item-edit" title="{{localize 'WWN.Edit'}}"><i class="fas fa-edit"></i></a>
        <a class="item-control toggle-favorite shrink-0 text-xs hover:text-wwn-accent-bright" data-action="toggle-favorite" title="{{localize 'WWN.RemoveFavorite'}}"><i class="fas fa-star text-wwn-accent-bright"></i></a>
        {{/if}}
      </div>
      {{/each}}
      {{#each favorited.armors as |item|}}
      <div class="item flex flex-row items-center h-[26px] overflow-hidden text-[14px] rounded px-1 hover:bg-wwn-row-alt" data-item-id="{{item.id}}">
        <div class="item-image basis-[24px] h-[24px] grow-0 shrink-0 bg-contain bg-no-repeat" style="background-image: url({{item.img}})"></div>
        <div class="item-name flex-1 min-w-0 truncate pl-1" title="{{item.name}}">{{item.name}}</div>
        {{#if ../owner}}
        <a class="item-control item-edit shrink-0 text-xs hover:text-wwn-accent-bright" data-action="item-edit" title="{{localize 'WWN.Edit'}}"><i class="fas fa-edit"></i></a>
        <a class="item-control toggle-favorite shrink-0 text-xs hover:text-wwn-accent-bright" data-action="toggle-favorite" title="{{localize 'WWN.RemoveFavorite'}}"><i class="fas fa-star text-wwn-accent-bright"></i></a>
        {{/if}}
      </div>
      {{/each}}
      {{#each favorited.items as |item|}}
      <div class="item flex flex-row items-center h-[26px] overflow-hidden text-[14px] rounded px-1 hover:bg-wwn-row-alt" data-item-id="{{item.id}}">
        <div class="item-image basis-[24px] h-[24px] grow-0 shrink-0 bg-contain bg-no-repeat" style="background-image: url({{item.img}})"></div>
        <div class="item-name item-rollable flex-1 min-w-0 truncate pl-1" data-action="item-roll" title="{{item.name}}">{{item.name}}</div>
        {{#if ../owner}}
        <a class="item-control item-edit shrink-0 text-xs hover:text-wwn-accent-bright" data-action="item-edit" title="{{localize 'WWN.Edit'}}"><i class="fas fa-edit"></i></a>
        <a class="item-control toggle-favorite shrink-0 text-xs hover:text-wwn-accent-bright" data-action="toggle-favorite" title="{{localize 'WWN.RemoveFavorite'}}"><i class="fas fa-star text-wwn-accent-bright"></i></a>
        {{/if}}
      </div>
      {{/each}}
      {{#each favorited.arts as |item|}}
      <div class="item flex flex-row items-center h-[26px] overflow-hidden text-[14px] rounded px-1 hover:bg-wwn-row-alt" data-item-id="{{item.id}}">
        <div class="item-image basis-[24px] h-[24px] grow-0 shrink-0 bg-contain bg-no-repeat" style="background-image: url({{item.img}})"></div>
        <div class="item-name item-rollable flex-1 min-w-0 truncate pl-1" data-action="item-roll" title="{{item.name}}">{{item.name}}</div>
        {{#if ../owner}}
        <a class="item-control item-edit shrink-0 text-xs hover:text-wwn-accent-bright" data-action="item-edit" title="{{localize 'WWN.Edit'}}"><i class="fas fa-edit"></i></a>
        <a class="item-control toggle-favorite shrink-0 text-xs hover:text-wwn-accent-bright" data-action="toggle-favorite" title="{{localize 'WWN.RemoveFavorite'}}"><i class="fas fa-star text-wwn-accent-bright"></i></a>
        {{/if}}
      </div>
      {{/each}}
      {{#each favorited.spells as |item|}}
      <div class="item flex flex-row items-center h-[26px] overflow-hidden text-[14px] rounded px-1 hover:bg-wwn-row-alt" data-item-id="{{item.id}}">
        <div class="item-image basis-[24px] h-[24px] grow-0 shrink-0 bg-contain bg-no-repeat" style="background-image: url({{item.img}})"></div>
        <div class="item-name item-rollable flex-1 min-w-0 truncate pl-1" data-action="item-roll" title="{{item.name}}">{{item.name}}</div>
        {{#if ../owner}}
        <a class="item-control item-edit shrink-0 text-xs hover:text-wwn-accent-bright" data-action="item-edit" title="{{localize 'WWN.Edit'}}"><i class="fas fa-edit"></i></a>
        <a class="item-control toggle-favorite shrink-0 text-xs hover:text-wwn-accent-bright" data-action="toggle-favorite" title="{{localize 'WWN.RemoveFavorite'}}"><i class="fas fa-star text-wwn-accent-bright"></i></a>
        {{/if}}
      </div>
      {{/each}}
      {{#each favorited.abilities as |item|}}
      <div class="item flex flex-row items-center h-[26px] overflow-hidden text-[14px] rounded px-1 hover:bg-wwn-row-alt" data-item-id="{{item.id}}">
        <div class="item-image basis-[24px] h-[24px] grow-0 shrink-0 bg-contain bg-no-repeat" style="background-image: url({{item.img}})"></div>
        <div class="item-name item-rollable flex-1 min-w-0 truncate pl-1" data-action="item-roll" title="{{item.name}}">{{item.name}}</div>
        {{#if ../owner}}
        <a class="item-control item-edit shrink-0 text-xs hover:text-wwn-accent-bright" data-action="item-edit" title="{{localize 'WWN.Edit'}}"><i class="fas fa-edit"></i></a>
        <a class="item-control toggle-favorite shrink-0 text-xs hover:text-wwn-accent-bright" data-action="toggle-favorite" title="{{localize 'WWN.RemoveFavorite'}}"><i class="fas fa-star text-wwn-accent-bright"></i></a>
        {{/if}}
      </div>
      {{/each}}
      {{#each favorited.foci as |item|}}
      <div class="item flex flex-row items-center h-[26px] overflow-hidden text-[14px] rounded px-1 hover:bg-wwn-row-alt" data-item-id="{{item.id}}">
        <div class="item-image basis-[24px] h-[24px] grow-0 shrink-0 bg-contain bg-no-repeat" style="background-image: url({{item.img}})"></div>
        <div class="item-name item-rollable flex-1 min-w-0 truncate pl-1" data-action="item-roll" title="{{item.name}}">{{item.name}}</div>
        {{#if ../owner}}
        <a class="item-control item-edit shrink-0 text-xs hover:text-wwn-accent-bright" data-action="item-edit" title="{{localize 'WWN.Edit'}}"><i class="fas fa-edit"></i></a>
        <a class="item-control toggle-favorite shrink-0 text-xs hover:text-wwn-accent-bright" data-action="toggle-favorite" title="{{localize 'WWN.RemoveFavorite'}}"><i class="fas fa-star text-wwn-accent-bright"></i></a>
        {{/if}}
      </div>
      {{/each}}
      {{#unless favorited.weapons.length}}
      {{#unless favorited.armors.length}}
      {{#unless favorited.items.length}}
      {{#unless favorited.arts.length}}
      {{#unless favorited.spells.length}}
      {{#unless favorited.abilities.length}}
      {{#unless favorited.foci.length}}
      <p class="text-xs text-wwn-text-muted text-center py-2">{{localize "WWN.favorites.empty"}}</p>
      {{/unless}}
      {{/unless}}
      {{/unless}}
      {{/unless}}
      {{/unless}}
      {{/unless}}
      {{/unless}}
    </div>
  </div>
</section>