<section class="attributes-tab flex flex-row gap-2">
  {{!-- HP, AC, Movement --}}
  <div class="flex-1">
    <ul class="attributes flex flex-row gap-2 flex-wrap">
      <li>
        <h4 class="bg-wwn-header-bg text-wwn-panel-title text-center p-0.5 border border-wwn-border-strong" title="{{ localize 'WWN.HealthLong' }}">
          {{ localize "WWN.HealthShort" }}
        </h4>
        <div class="text-center p-1">
          <input name="system.hp.value" type="number" value="{{system.hp.value}}" data-dtype="Number" placeholder=0
            title="{{ localize 'WWN.Health' }}" />
        </div>
        <div class="text-center p-1">
          <input name="system.hp.max" type="number" value="{{system.hp.max}}" data-dtype="Number" placeholder=0
            title="{{ localize 'WWN.HealthMax' }}" />
        </div>
      </li>
      <li>
        <h4 class="bg-wwn-header-bg text-wwn-panel-title text-center p-0.5 border border-wwn-border-strong" title="{{ localize 'WWN.ArmorClass' }}">
          {{ localize "WWN.ArmorClassShort" }}
        </h4>
        <div class="text-center p-1">
          <input name="system.aac.value" type="number" value="{{system.aac.value}}" data-dtype="Number" placeholder=0
            title="{{ localize 'WWN.ArmorClass' }}" />
        </div>
      </li>
      <li data-stat="mov">
        <h4 class="bg-wwn-header-bg text-wwn-panel-title text-center p-0.5 border border-wwn-border-strong" title="{{ localize 'WWN.details.grace.value'}}">
          {{localize 'WWN.details.grace.short'}}
        </h4>
        <div class="text-center p-1">
          <input name="system.details.grace.value" title="{{localize 'WWN.details.grace.value'}}" type="number"
            value="{{system.details.grace.value}}" placeholder="0" data-dtype="Number" />
        </div>
      </li>
      <li data-stat="mov">
        <h4 class="bg-wwn-header-bg text-wwn-panel-title text-center p-0.5 border border-wwn-border-strong" title="{{ localize 'WWN.movement.shipLong'}}">
          {{localize 'WWN.movement.shipShort'}}
        </h4>
        <div class="text-center p-1">
          <input name="system.movement.base" title="{{localize 'WWN.movement.shipLong'}}" type="number"
            value="{{system.movement.base}}" placeholder="60" data-dtype="Number" />
        </div>
      </li>

    </ul>
  </div>

{{!-- Crew inventory --}}
  {{> "systems/wwn/templates/actors/partials/ship-crew-list.hbs"}}
</section>
