<section class="inventory" data-base-size="310">
  <div class="inventory-all flex flex-row">
    <div class="inventory-left flex-[3]">
      <div>
         {{!-- Ship weapon items --}}
        <li class="item-titles flex flex-row bg-wwn-header-bg text-white border border-wwn-border-strong text-center py-1 text-[13px]">
          <div class="item-caret" data-action="item-caret"><i class="fas fa-caret-down"></i></div>
          <div class="item-name flex-1 min-w-0 indent-2 text-left">{{localize "WWN.items.weapon.ship"}}</div>
          <div class="field-short text-xs basis-[45px] text-center" title="{{localize 'WWN.items.crew.current'}}"><i class="fas fa-solid fa-person"></i></div>
          <div class="field-short text-xs basis-[45px] text-center" title="{{localize 'WWN.items.Quantity'}}"><i class="fas fa-hashtag"></i></div>
          <div class="field-short text-xs basis-[45px] text-center" title="{{localize 'WWN.items.Weight' }}"><i class="fas fa-weight-hanging"></i></div>
          <div class="item-controls text-xs basis-[60px] text-right">
            <a class="item-control item-create hover:text-wwn-accent-bright" data-action="item-create" data-type="shipweapon" title="{{localize 'WWN.Add'}}"><i
                class="fa fa-plus"></i></a>
          </div>
        </li>
        <ol class="item-list">
          {{#each owned.shipweapons as |item|}}
          <li class="item-entry odd:bg-transparent even:bg-wwn-row-alt">
            <div class="item flex flex-row leading-[30px] h-[30px] overflow-hidden" data-item-id="{{item.id}}">
              <div class="item-name item-rollable flex flex-row flex-1 min-w-0 indent-2 text-left overflow-hidden">
                <div class="item-image" style="background-image: url({{item.img}})"></div>
                <a>
                  <p class="m-0" title="{{item.name}}">
                    {{item.name~}}
                    {{#if item.system.damage}}
                    <span class="greyrow">({{item.system.damage}})</span>
                    {{/if}}
                  </p>
                </a>
              </div>
              <div class="field-short charges text-xs basis-[45px] text-center">
                <input value="{{item.system.crew}}" type="number" />
              </div>
              <div class="field-short quantity text-xs basis-[45px] text-center">
                <input value="{{item.system.quantity}}" type="number" />
              </div>
              <div class="field-short text-xs basis-[45px] text-center">
                <input value="{{item.system.weight}}" type="number" readonly>
              </div>
              <div class="item-controls text-xs basis-[60px] text-right">
                <a class="item-control item-edit hover:text-wwn-accent-bright" data-action="item-edit" title='{{localize "WWN.Edit"}}'><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete hover:text-wwn-accent-bright" data-action="item-delete" title='{{localize "WWN.Delete"}}'><i class="fas fa-trash"></i></a>
              </div>
            </div>
          </li>
          {{/each}}
        </ol>
      </div>
      <div>
        {{!-- Cargo items --}}
        <li class="item-titles flex flex-row bg-wwn-header-bg text-white border border-wwn-border-strong text-center py-1 text-[13px]">
          <div class="item-caret" data-action="item-caret"><i class="fas fa-caret-down"></i></div>
          <div class="item-name flex-1 min-w-0 indent-2 text-left">{{localize "WWN.items.cargo.general"}}</div>
          <div class="field-short text-xs basis-[45px] text-center" title="{{localize 'WWN.items.Charges'}}"><i class="fa-solid fa-boxes-stacked"></i></div>
          <div class="field-long basis-[80px] text-center text-xs" title="{{localize 'WWN.items.Price'}}"><i class="fa-solid fa-circle"></i></div>
          <div class="field-short text-xs basis-[45px] text-center" title="{{localize 'WWN.items.Quantity'}}"><i class="fas fa-hashtag"></i></div>
          <div class="field-short text-xs basis-[45px] text-center" title="{{localize 'WWN.items.Weight' }}"><i class="fas fa-weight-hanging"></i></div>
          <div class="item-controls text-xs basis-[60px] text-right">
            <a class="item-control item-create hover:text-wwn-accent-bright" data-action="item-create" data-type="cargo" title="{{localize 'WWN.Add'}}"><i
                class="fa fa-plus"></i></a>
          </div>
        </li>
        <ol class="item-list">
          {{#each owned.cargos as |item|}}
          <li class="item-entry odd:bg-transparent even:bg-wwn-row-alt">
            <div class="item flex flex-row leading-[30px] h-[30px] overflow-hidden" data-item-id="{{item.id}}">
              <div class="item-name item-rollable flex flex-row flex-1 min-w-0 indent-2 text-left overflow-hidden">
                <div class="item-image" style="background-image: url({{item.img}})"></div>
                <a>
                  <p class="m-0" title="{{item.name}}">
                    {{item.name~}}
                  </p>
                </a>
              </div>
              {{#if (evalOr item.system.charges.value item.system.charges.max)}}
              <div class="field-short charges text-xs basis-[45px] text-center">
                <input value="{{item.system.charges.value}}" type="number" />
              </div>
              <div class="field-long basis-[80px] text-center text-xs">{{item.system.price}}</div>
              {{else}}
              <div class="field-long basis-[80px] text-center text-xs">{{mult item.system.quantity item.system.price}}</div>
              {{/if}}
              <div class="field-short quantity text-xs basis-[45px] text-center">
                {{#if (evalOr system.charges.value system.charges.max)}}
                <input type="number" name="system.quantity" value=1 data-dtype="Number"
                  title="{{localize 'WWN.items.ChargeQuantity'}}" disabled />
                {{else}}
                <input type="number" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
                {{/if}}
              </div>
              <div class="field-short text-xs basis-[45px] text-center">
                <input value="{{item.system.weight}}" type="number" disabled />
              </div>
              <div class="item-controls text-xs basis-[60px] text-right">
                {{#if ../owner}}
                <a class="item-control item-edit hover:text-wwn-accent-bright" data-action="item-edit" title='{{localize "WWN.Edit"}}'><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete hover:text-wwn-accent-bright" data-action="item-delete" title='{{localize "WWN.Delete"}}'><i class="fas fa-trash"></i></a>
                {{/if}}
              </div>
            </div>
          </li>
          {{/each}}
        </ol>
      </div>
      <div>
        {{!-- Misc items --}}
        <li class="item-titles flex flex-row bg-wwn-header-bg text-white border border-wwn-border-strong text-center py-1 text-[13px]">
          <div class="item-caret" data-action="item-caret"><i class="fas fa-caret-down"></i></div>
          <div class="item-name flex-1 min-w-0 indent-2 text-left">{{localize "WWN.items.Small"}}</div>
          <div class="field-short text-xs basis-[45px] text-center" title="{{localize 'WWN.items.Quantity'}}"><i class="fas fa-hashtag"></i></div>
          <div class="field-short text-xs basis-[45px] text-center" title="{{localize 'WWN.items.Weight' }}"><i class="fas fa-weight-hanging"></i></div>
          <div class="item-controls text-xs basis-[60px] text-right">
            <a class="item-control item-search hover:text-wwn-accent-bright" data-action="item-search" data-type="item" title="{{localize 'WWN.Search'}}"><i
                class="fa fa-search"></i></a>
            <a class="item-control item-create hover:text-wwn-accent-bright" data-action="item-create" data-type="item" title="{{localize 'WWN.Add'}}"><i
                class="fa fa-plus"></i></a>
          </div>
        </li>
        <ol class="item-list">
          {{#each owned.weapons as |item|}}
          <li class="item-entry odd:bg-transparent even:bg-wwn-row-alt">
            <div class="item flex flex-row leading-[30px] h-[30px] overflow-hidden" data-item-id="{{item.id}}">
              <div class="item-name item-rollable flex flex-row flex-1 min-w-0 indent-2 text-left overflow-hidden">
                <div class="item-image" style="background-image: url({{item.img}})"></div>
                <a>
                  <p class="m-0" title="{{item.name}}">
                    {{item.name~}}
                    {{#if item.system.damage}}
                    <span class="greyrow">({{item.system.damage}})</span>
                    {{/if}}
                  </p>
                </a>
              </div>
              <div class="field-short quantity text-xs basis-[45px] text-center">
                <input value="{{item.system.quantity}}" type="number" />
              </div>
              <div class="field-short text-xs basis-[45px] text-center">
                <input value="{{item.system.weight}}" type="number" readonly>
              </div>
              <div class="item-controls text-xs basis-[60px] text-right">
                <a class="item-control item-edit hover:text-wwn-accent-bright" data-action="item-edit" title='{{localize "WWN.Edit"}}'><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete hover:text-wwn-accent-bright" data-action="item-delete" title='{{localize "WWN.Delete"}}'><i class="fas fa-trash"></i></a>
              </div>
            </div>
          </li>
          {{/each}}
          {{#each owned.armors as |item|}}
          <li class="item-entry odd:bg-transparent even:bg-wwn-row-alt">
            <div class="item flex flex-row leading-[30px] h-[30px] overflow-hidden" data-item-id="{{item.id}}">
              <div class="item-name item-rollable flex flex-row flex-1 min-w-0 indent-2 text-left overflow-hidden">
                <div class="item-image" style="background-image: url({{item.img}})"></div>
                <a>
                  <p class="m-0" title="{{item.name}}">
                    {{item.name~}}
                  </p>
                </a>
              </div>
              <div class="field-short quantity text-xs basis-[45px] text-center">
                <input value="{{item.system.quantity}}" type="number" placeholder="0" />
              </div>
              <div class="field-short text-xs basis-[45px] text-center">
                <input value="{{item.system.weight}}" type="number" readonly />
              </div>
              <div class="item-controls text-xs basis-[60px] text-right">
                {{#if ../owner}}
                <a class="item-control item-edit hover:text-wwn-accent-bright" data-action="item-edit" title='{{localize "WWN.Edit"}}'><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete hover:text-wwn-accent-bright" data-action="item-delete" title='{{localize "WWN.Delete"}}'><i class="fas fa-trash"></i></a>
                {{/if}}
              </div>
            </div>
          </li>
          {{/each}}
          {{#each owned.items as |item|}}
          <li class="item-entry odd:bg-transparent even:bg-wwn-row-alt">
            <div class="item flex flex-row leading-[30px] h-[30px] overflow-hidden" data-item-id="{{item.id}}">
              <div class="item-name item-rollable flex flex-row flex-1 min-w-0 indent-2 text-left overflow-hidden">
                <div class="item-image" style="background-image: url({{item.img}})"></div>
                <a>
                  <p class="m-0" title="{{item.name}}">
                    {{item.name~}}
                  </p>
                </a>
              </div>
              <div class="field-short quantity text-xs basis-[45px] text-center">
                <input value="{{item.system.quantity}}" type="number" placeholder="0" />
              </div>
              <div class="field-short text-xs basis-[45px] text-center">
                <input value="{{item.system.weight}}" type="number" readonly />
              </div>
              <div class="item-controls text-xs basis-[60px] text-right">
                {{#if ../owner}}
                <a class="item-control item-edit hover:text-wwn-accent-bright" data-action="item-edit" title='{{localize "WWN.Edit"}}'><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete hover:text-wwn-accent-bright" data-action="item-delete" title='{{localize "WWN.Delete"}}'><i class="fas fa-trash"></i></a>
                {{/if}}
              </div>
            </div>
          </li>
          {{/each}}
        </ol>
      </div>
    </div>
    <div class="inventory-right">
      <div class="item-titles flex flex-row bg-wwn-header-bg text-white border border-wwn-border-strong text-center py-1 text-[13px]">
        <label>{{localize 'WWN.items.cargo.general'}}</label>
      </div>
      <div class="readied-group">
        <div class="flex flex-row readied-subgroup items-center gap-1">
          <label class="readied-header text-wwn-panel-title px-1 py-0.5 border border-wwn-border-strong bg-wwn-header-bg text-center h-[30px] leading-[26px] text-[13px]">{{localize 'WWN.items.cargo.valueShort'}}</label>
          <div class="readied border border-wwn-border-strong shadow-[0_0_2px_var(--wwn-border)] flex h-[30px] items-center">
            <input name="system.cargo.value" type="number" value="{{system.cargo.value}}" data-dtype="Number" disabled />/
            <input type="number" name="donotoverridethecargomax" value="{{system.cargo.max}}" data-dtype="Number" disabled/>
          </div>
        </div>
        <div class="flex flex-row readied-subgroup items-center gap-1">
          <label class="readied-header text-wwn-panel-title px-1 py-0.5 border border-wwn-border-strong bg-wwn-header-bg text-center h-[30px] leading-[26px] text-[13px]">{{localize 'WWN.items.weapon.weapon'}}</label>
          <div class="readied border border-wwn-border-strong shadow-[0_0_2px_var(--wwn-border)] flex h-[30px] items-center">
            <input name="system.weapons.value" type="number" value="{{system.weapons.value}}" data-dtype="Number" disabled />/
            <input type="number" name="donotoverridethecargomax" value="{{system.weapons.max}}" data-dtype="Number" disabled/>
          </div>
        </div>

      </div>
      <div class="item-titles flex flex-row bg-wwn-header-bg text-white border border-wwn-border-strong text-center py-1 text-[13px]">
        <label>
          {{localize 'WWN.items.Currency'}}
          <a data-action="currency-adjust" title="{{localize 'WWN.items.adjustCurrency'}}" class="currency-adjust">
            <i class="fas fa-balance-scale"></i>
          </a>
        </label>
      </div>
      <div class="flex flex-row currency-group flex-wrap">
        <div class="flex flex-row currency-subgroup items-center gap-1">
          <label class="currency-header text-wwn-panel-title px-1 py-0.5 border border-wwn-border-strong bg-wwn-header-bg text-center h-[30px] leading-[26px] text-[13px]" title="{{localize 'WWN.items.CP.long'}}">{{localize
            'WWN.items.CP.short'}}</label>
          <input class="currency border border-wwn-border-strong shadow-[0_0_2px_var(--wwn-border)] h-[30px] text-center text-xs w-full" name="system.currency.cp" type="number" value="{{system.currency.cp}}"
            data-dtype="Number" placeholder="0" />
        </div>
        <div class="flex flex-row currency-subgroup items-center gap-1">
          <label class="currency-header text-wwn-panel-title px-1 py-0.5 border border-wwn-border-strong bg-wwn-header-bg text-center h-[30px] leading-[26px] text-[13px]" title="{{localize 'WWN.items.SP.long'}}">{{localize
            'WWN.items.SP.short'}}</label>
          <input class="currency border border-wwn-border-strong shadow-[0_0_2px_var(--wwn-border)] h-[30px] text-center text-xs w-full" name="system.currency.sp" type="number" value="{{system.currency.sp}}"
            data-dtype="Number" placeholder="0" />
        </div>
        {{#if (eq config.currencyTypes "currencybx")}}
        <div class="flex flex-row currency-subgroup items-center gap-1">
          <label class="currency-header text-wwn-panel-title px-1 py-0.5 border border-wwn-border-strong bg-wwn-header-bg text-center h-[30px] leading-[26px] text-[13px]" title="{{localize 'WWN.items.EP.long'}}">{{localize
            'WWN.items.EP.short'}}</label>
          <input class="currency border border-wwn-border-strong shadow-[0_0_2px_var(--wwn-border)] h-[30px] text-center text-xs w-full" name="system.currency.ep" type="number" value="{{system.currency.ep}}"
            data-dtype="Number" placeholder="0" />
        </div>
        {{/if}}
        <div class="flex flex-row currency-subgroup items-center gap-1">
          <label class="currency-header text-wwn-panel-title px-1 py-0.5 border border-wwn-border-strong bg-wwn-header-bg text-center h-[30px] leading-[26px] text-[13px]" title="{{localize 'WWN.items.GP.long'}}">{{localize
            'WWN.items.GP.short'}}</label>
          <input class="currency border border-wwn-border-strong shadow-[0_0_2px_var(--wwn-border)] h-[30px] text-center text-xs w-full" name="system.currency.gp" type="number" value="{{system.currency.gp}}"
            data-dtype="Number" placeholder="0" />
        </div>
        {{#if (eq config.currencyTypes "currencybx")}}
        <div class="flex flex-row currency-subgroup items-center gap-1">
          <label class="currency-header text-wwn-panel-title px-1 py-0.5 border border-wwn-border-strong bg-wwn-header-bg text-center h-[30px] leading-[26px] text-[13px]" title="{{localize 'WWN.items.PP.long'}}">{{localize
            'WWN.items.PP.short'}}</label>
          <input class="currency border border-wwn-border-strong shadow-[0_0_2px_var(--wwn-border)] h-[30px] text-center text-xs w-full" name="system.currency.pp" type="number" value="{{system.currency.pp}}"
            data-dtype="Number" placeholder="0" />
        </div>
        {{/if}}
        <div class="flex flex-row currency-subgroup currency-buffer items-center gap-1">
          <label class="currency-header text-wwn-panel-title px-1 py-0.5 border border-wwn-border-strong bg-wwn-header-bg text-center h-[30px] leading-[26px] text-[13px]" title="Total Currency in sp">Coin Value</label>
          <input class="currency border border-wwn-border-strong shadow-[0_0_2px_var(--wwn-border)] h-[30px] text-center text-xs w-full" name="system.currency.total" type="number" value="{{system.currency.total}}"
            data-dtype="Number" disabled />
        </div>
        <div class="flex flex-row currency-subgroup currency-buffer items-center gap-1">
          <label class="currency-header text-wwn-panel-title px-1 py-0.5 border border-wwn-border-strong bg-wwn-header-bg text-center h-[30px] leading-[26px] text-[13px]" title="{{localize 'WWN.items.cargo.monetaryvalue'}}">Cargo Value</label>
          <input class="currency border border-wwn-border-strong shadow-[0_0_2px_var(--wwn-border)] h-[30px] text-center text-xs w-full" name="system.cargo.monetaryvalue" type="number" value="{{system.cargo.monetaryvalue}}"
            data-dtype="Number" disabled />
        </div>
        <div class="flex flex-row currency-subgroup items-center gap-1">
          <label class="currency-header text-wwn-panel-title px-1 py-0.5 border border-wwn-border-strong bg-wwn-header-bg text-center h-[30px] leading-[26px] text-[13px]" title="{{localize 'WWN.items.TreasureSP'}}">{{localize
            'WWN.items.Treasure'}}</label>
          <input class="currency border border-wwn-border-strong shadow-[0_0_2px_var(--wwn-border)] h-[30px] text-center text-xs w-full" name="system.treasure" type="number" value="{{system.treasure}}" data-dtype="Number"
            disabled />
        </div>
      </div>
    </div>
  </div>
</section>
