<form autocomplete="off">
  <div class="actor header flex flex-row items-center gap-1 mb-2">
    {{#if user.isGM}}
    <div class="item-controls flex flex-row gap-1">
      <div class="item-control">
        <button type="button" class="deal-xp" title="{{localize 'WWN.dialog.xp.deal'}}"><i
            class="fas fa-level-up-alt"></i></button>
      </div>
      <div class="item-control">
        <button type="button" class="deal-currency"
          title="{{#if useGoldStandard}}{{localize 'WWN.dialog.currency.dealGold'}}{{else}}{{localize 'WWN.dialog.currency.deal'}}{{/if}}"><i
            class="fas fa-coins"></i></button>
      </div>
      <div class="item-control">
        <button type="button" class="select-actors" title="{{localize 'WWN.dialog.selectActors'}}"><i
            class="fas fa-users"></i></button>
      </div>
    </div>
    <span class="text-wwn-text-muted text-xs">{{localize 'WWN.dialog.partySelectHint'}}</span>
    {{/if}}
  </div>
  <div class="party-table-header flex flex-row items-center text-xs font-bold bg-wwn-header-bg text-white px-1 py-0.5">
    <div class="w-12 shrink-0"></div>
    <div class="col-name flex-1 min-w-0">{{localize 'WWN.details.name'}}</div>
    <div class="col-hp w-16 shrink-0 text-center" title="{{localize 'WWN.Health'}}">{{localize 'WWN.HealthShort'}}</div>
    <div class="col-ac w-10 shrink-0 text-center" title="{{localize 'WWN.ArmorClass'}}">AC</div>
    <div class="col-strain w-16 shrink-0 text-center" title="{{localize 'WWN.SystemStrainLong'}}">{{localize 'WWN.SystemStrainShort'}}</div>
    <div class="col-saves w-28 shrink-0 text-center">{{localize 'WWN.category.saves'}}</div>
    <div class="col-move w-14 shrink-0 text-center" title="{{localize 'WWN.movement.base'}}">{{localize 'WWN.movement.short'}}</div>
  </div>
  <ol class="actor-list list-none p-0 m-0">
    {{#each data.documents as |e|}}
    {{#if e.flags.wwn.party}}
    <li class="actor flex flex-row items-center border-b border-wwn-border-light py-0.5 even:bg-wwn-row-alt" data-actor-id="{{e.id}}">
      <div class="field-img w-12 shrink-0 relative">
        <img src="{{e.img}}" alt="" class="w-10 h-10 rounded" />
        <div class="img-btns flex flex-row absolute inset-0 items-end justify-center opacity-0 hover:opacity-100">
          <button type="button" data-action="open-sheet" title="{{localize 'WWN.Edit'}}"><i
              class="fas fa-user"></i></button>
        </div>
      </div>
      <div class="party-fields flex flex-row flex-1 items-center min-w-0">
        <div class="col-name field-name flex-1 min-w-0 truncate">
          <strong>{{e.name}}</strong>
        </div>
        <div class="col-hp w-16 shrink-0 text-center" title="{{localize 'WWN.Health'}}">
          {{e.system.hp.value}}/{{e.system.hp.max}}
        </div>
        <div class="col-ac w-10 shrink-0 text-center" title="{{localize 'WWN.ArmorClass'}}">
          {{e.system.aac.value}}
        </div>
        <div class="col-strain w-16 shrink-0 text-center" title="{{localize 'WWN.SystemStrainLong'}}">
          {{e.system.details.strain.value}}/{{e.system.details.strain.max}}
        </div>
        <div class="col-saves w-28 shrink-0 text-center text-xs" title="{{localize 'WWN.category.saves'}}">
          <span class="save-val"><b>E</b>{{e.system.saves.evasion.value}}</span>
          <span class="save-val"><b>M</b>{{e.system.saves.mental.value}}</span>
          <span class="save-val"><b>P</b>{{e.system.saves.physical.value}}</span>
          <span class="save-val"><b>L</b>{{e.system.saves.luck.value}}</span>
        </div>
        <div class="col-move w-14 shrink-0 text-center text-xs" title="{{localize 'WWN.movement.long'}}">
          {{e.system.movement.base}}<span class="move-explore text-wwn-text-muted">/{{e.system.movement.exploration}}</span>
        </div>
      </div>
    </li>
    {{/if}}
    {{/each}}
  </ol>
  <footer>
    <div></div>
  </footer>
</form>
